.DS_Store
.idea/
CMakeLists.txt
Frameshift_samples/
cmake-build-debug/
main 
main.dSYM/
CMakeCache.txt
CMakeFiles/
*.cmake
alignment_shiftframe
tests
generate_random_sequences
Makefile
generated_sample_sequences/
